<style>
    .brand-logo {
        margin-left: 20px;
    }
</style>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"> SRS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/students">Students</a></li>
            <li><a href="/students/create">Add Students</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>